.container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;

  grid-template-areas:
    "sidebar-left header sidebar-right"
    "sidebar-left header sidebar-right"
    "sidebar-left main sidebar-right";
}

.container-main {
  grid-area: main;
  padding: 0 1rem;
}
