.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "grid-item-1 grid-item-2 grid-item-3 grid-item-4"
    "grid-item-5 grid-item-5 grid-item-5 grid-item-6"
    "grid-item-7 grid-item-7 grid-item-8 grid-item-8";
  padding: 1rem 2rem;
}

.grid-item-1 {
  grid-area: grid-item-1;
}
.grid-item-2 {
  grid-area: grid-item-2;
}
.grid-item-3 {
  grid-area: grid-item-3;
}
.grid-item-4 {
  grid-area: grid-item-4;
}
.grid-item-5 {
  grid-area: grid-item-5;
}
.grid-item-6 {
  grid-area: grid-item-6;
}
.grid-item-7 {
  grid-area: grid-item-7;
}
.grid-item-8 {
  grid-area: grid-item-8;
}

.card {
  background-color: azure;
  padding: 1rem;
  border-radius: 8px;
  height: 5rem;
}
