
.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.chart {
  color: #9ca3af;
  cursor: pointer;
  font-size: 0.95rem;
}

.chart-active {
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.card {
  max-height: 330px;
}